@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes smoke {
  0% {
    transform: translateX(-50%) translateY(0) scale(1);
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    transform: translateX(-50%) translateY(-200vh) scale(2);
    opacity: 0;
  }
}

.animate-smoke {
  animation: smoke 10s infinite;
}


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



html{
  overflow-y: scroll;
  /* scrollbar-color: #7521b9 #f0ca7f;  */
  scrollbar-width: none   ;

}